<%
def output_cell(feedback,col,className=nil)
  value = word_wrap(feedback.value_for_column(col).to_s)
  size = calculate_size(value)
  htmlClass = className ? " class='#{className}'" : ""
  htmlLink = generate_link(value) if GDRIVE_CRM_LINK_COLS.index(col)
  if col == GDRIVE_CRM_EMAIL_COL
%>
    <li<%=htmlClass%>><%= form_tag( { action: "updateemail", id: feedback.id} ) do %><label><%= header(col) %>: <%=text_field_tag "email", value, :size => size[:cols] %></label><%=htmlLink%> <%=button_tag "Save"%><% end %></li>
<%
  else
%>
    <li<%=htmlClass%>><label><%= header(col) %>: <%= text_tag_for_size size, value %></label><%=htmlLink%></li>
<%
  end
end
%>
<% if @active_feedback.nil? %>
<div class="feedbackrow">
  <h3>All feedback dealt with (of <%=Feedback.count%> entries)!</h3>
</div>
<% else %>
<div class="feedbackrow">
  <h3>Row <%=@active_feedback.id%> of <%=Feedback.count%></h3>
  <% if @other_feedback.length > 1 %>
  <p>Feedback <%=(@other_feedback_index+1)%> of <%=@other_feedback.length%> items from this device (<%=
    links = @other_feedback.map do |f|
      link_to "#{f[:id]} (#{f[:status]}#{f[:email_sent]})", { action: "index", id: f[:id] }, target: "_blank", class: (f[:email_failed]?"emailfailed":"")
    end
    raw(links.join(", "))
  %>).</p>
  <% end %>
  <ul class="majorcols">
    <% for col in GDRIVE_CRM_MAJOR_COLS %>
      <% output_cell(@active_feedback,col) %>
    <% end %>
  </ul>
  <ul class="actions">
    <% output_cell(@active_feedback,GDRIVE_CRM_STATUS_COL, "status #{@active_feedback.status}") %>
    <li><%=button_to "Handled", { :action => "status", :id => @active_feedback.id, :status => GDRIVE_CRM_HANDLED_STATUS}, :autofocus => "autofocus" %></li>
    <li><%= form_tag :action => "status", :id => @active_feedback do %>
      <%= select_tag "status", options_for_select((GDRIVE_CRM_POSSIBLE_STATUSES.map { |a| [a,a]}), @active_feedback.status) %>
      <%= button_tag "Set Status", name: "email", value:"Send" %>
      <%= button_tag "Edit Email", name: "email", value:"Edit" %>
      <% end %></li>
    <li><%=button_to "Skip", :skip => "yes", :method => :post %></li>
  </ul>
  <ul class="minorcols">
    <%
      for col in 1..ColumnTitle.maximum(:column)
        next if GDRIVE_CRM_MAJOR_COLS.index(col)
        next if col == GDRIVE_CRM_STATUS_COL
        output_cell(@active_feedback,col)
      end
    %>
  </ul>
</div>
<% end %>
<div class="generalactions">
  <ul>
    <li><%=button_to "Reset Active Row", :reset_feedback => "yes", :method => :post%></li>
    <li><%=button_to "Reload Spreadsheet", :action => "reload", :method => :post%></li>
  </ul>
</div>
